<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=pavelbstorage;AccountKey=SqLo00/w2sZG/9A6cJgqJEOTsxX766sR0N8x5LtfnJj30GC2/I6wUgzM6CxqGyQ0da2ykoNRSDwX8TXJm9+uvQ==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>